<div class="login">
	<h1>Login</h1>
    <form (ngSubmit)="login()"  autocomplete="off">
    	<input type="text" name="u" id="a" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="button" class="btn btn-primary btn-block btn-large" (click)="home()">Login</button>
    </form>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
        <span>Todavia no tienes cuenta?</span><a routerLink="../register">Registrate</a>
            </div>    
        </div>    
    </div>
        
</div>

